body {
    background-image: url(https://fastly.picsum.photos/id/538/1080/720.jpg?hmac=Ftnb1nuwyCMn3ueq9h0AelyxIG0eeBmAminN3OP1NlE);
    display: flex;
    justify-content: center;
}

.form {
    background-color: rgba(0, 0, 0, .9);
    color: rgb(255, 255, 255);
    border-style: outset;
}


header h1 {
    text-align: center;
    margin: 1% auto;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.gn-label {
    margin: 15%
}
.col {
    width: 275px;
    height: 30px;
    margin: 5px 5px 30px 50px
}

.half-label {
    margin: 15%
}

.whole-label {
    margin: auto 5%;
}
.age {
    width: 90%;
    height: 30px;
    margin: 5px 30px 30px 50px
}

.mail {
    width: 90%;
    height: 30px;
    margin: 5px 30px 30px 50px;
    text-align: left;
}
.email-label {
    margin: 5%;
}

.password {
    width: 500px;
    height: 30px;
    margin: auto 30px 5px 30px
}
.pass {
    text-align: center;
}
.password-label {
    margin: 5%;
}

.select {
    padding:7px 243px;
    margin: 5px 30px 0px 50px;
}


.left {
    justify-content: center;
    padding: 10px 50px;
}


textarea {
    padding:7px 245px;
    margin: 2px 50px;
}

input[type="submit"] {
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  color: white;
  padding: 16px 200px;
  text-decoration: none;
  margin: auto 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.signup:hover {
    background-image: linear-gradient(135deg, #83bdff 40%, #4eff48);
}
.signup:active {
    box-shadow: 2px 2px 5px #fc894d;
}
.signup:after {
    color:rgb(214, 78, 141)
}

footer {
    margin: 5px 30px 10px 30px
}

a {
    color: white;
  }
  
  a:visited {
    color: blue;
  }
  
  a:hover {
    color: lightblue;
  }
  
  a:active {
    color: brown;
  }

  .right {
    text-align: end;
  }

  footer {
    text-align: center;
  }
